@media screen and (max-width:768px) {
 .follow-user img {
    width: 60px;
 }
    .profile{
        flex-direction: column;
    }
    .profile-img img{
        width: 90%;
    }
    .profile-img{
        margin: 0;
    }
.follow-site{
    max-height: 300px;
    overflow-y: auto;
}
}