@media screen and (max-width:768px) {
 .follow-user img {
   
   object-fit: cover;
 }
    .profile{
        flex-direction: column;
    }
    .profile-img img{
        width: 90%;
    }
    .profile-img{
        margin: 0;
    }
    .follow-user{
        width: 70px;
    }
.follow-site{
    max-height: 300px;
    
}
}