ul {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px;
}

li {
    font-family: 'Roboto Slab', serif;
    list-style: none;
}

li h1 {
    color: rgb(34, 151, 244);
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.log {
    display: flex;
    align-items: center;
}

.nav a {
    border: none;

    text-decoration: none;
    padding: 5px;
    color: hsl(207, 91%, 75%);
    display: flex;
    align-items: center;
    margin: 0 5px;
    border-radius: 5px;
    font-family: 'Protest Riot', sans-serif;
    font-weight: 600;
}

.active {
    background-color: rgb(239, 239, 239);
}

.nav a:hover {

    background-color: rgb(239, 239, 239);
}

.nav-user img {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
}

.nav-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-user span {

    display: flex;
    align-items: center;
    font-size: 18px;

    transition: all 0.3s;
}

.nav-user p {

    padding: 5px;
    font-weight: 600;
}

.nav-user a:hover span {
    transform: scale(1.1);
}

.nav-user i {
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.3s;
}

.nav-user a:hover i {
    transform: scale(1.1);
}